<body background="http://data.whicdn.com/images/150288560/large.jpg">
  <div align="center">
    <font face="courier new" style="font-size: 20px;color: yellow">
    <h1> Nom Nom, bananas in my belly! </h1>
    <img src='http://www.reactiongifs.us/wp-content/uploads/2014/02/banana_despicable_me.gif'
    <br>
    <br>
      <form action='/play'>
      <input type='submit' value='OK' style="font-family:'courier new'; font-weight: bold; color:black; font-size: 30px; height: 75; width: 330px; background-color: yellow">
    </form>
  </div>
