<body background="http://i.giphy.com/WzLsZENLbKeBO.gif">
  <div align="center">
  <font color = "FFFFFF"><h1> Battle Royale! </h1></font>
  <form action= "/names" method= "post">
    <div>
      <font color = "FFFFFF"><label for = "player_1_name">Player 1 Name:</label></font>
      <input type = "text" name = "player_1_name" />
    </div>
    <div>
        <font color = "FFFFFF"><label for = "player_2_name">Player 2 Name:</label></font>
      <input type = "text" name = "player_2_name" />
    </div>
    <div>
      <input type="submit" value = "Lets Get It On!" style="font-family:'Orator Std'; color: white; font-size: 25px; height: 75; width: 235px; background-color: #000000"/>
    </div>
  </form>
  </div>
</body>
