<body background="http://data.whicdn.com/images/150288560/large.jpg">
  <div align="center">
    <font face="courier new" size="6" color = "FFFF00"><h1> BATTLE OF THE MINIONS </h1></font>
      <form action= "/names" method= "post">
  <div>
    <font face="courier new" size="5" <label for = "player_1_name"><b> Player 1 Name:</b></label></font>
      <input type = "text" name = "player_1_name" />
  </div>
  <div>
    <font face="courier new" size="5" <label for = "player_2_name"><b>Player 2 Name:</b></label></font>
      <input type = "text" name = "player_2_name" />
  </div>
  <div>
    <input type="submit" value = "Push me!" style="font-family:'courier new'; color:yellow; font-size: 25px; height: 75; width: 330px; background-color: #000000"/>
</div>
</div>
</body>
