<body background="http://data.whicdn.com/images/150288560/large.jpg">
  <div align="center">
    <div align="center">
      <img src="https://m.popkey.co/ed363c/J767_f-maxage-0.gif?c=popkey-web&p=popkey&i=minions-ent&l=direct&f=.gif">
    </div>
    <div>
  <font face="courier new" size="9"
<h1> <%= @game.defender.name %> lost in a pool of pee. oops. </h1>
<img src=''>
</div>
</body>
