Player One: <%= @player1_name %>
<br>
Player One HP: <%= @player1_hp %>
<br>
Player Two: <%= @player2_name %>
<br>
Player Two HP: <%= @player2_hp %>
<br>
<form action="/attack">
  <input type='submit' value="Attack!" />
</form>
